*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: transparent;
    /* add styles prn */
}

.grid-div {
    background-color: transparent;
    /* add styles prn */
}

.background-div {
    background-color: transparent;
    /* add styles prn */
}

.toggleBtn {
    color: #1A170F;
    margin-top: 1.25em;
    --fa-beat-fade-scale: 1.25;
    --fa-animation-duration: 3.7s;
}

section.title-description-links-credit {
    background-color: transparent;
    /* add styles prn */
}

h1 {
    font-size: 7em;
    margin: 0 9%;
}

.charColor {
    text-shadow: .05em .05em .05em #1A170F;
}

h2 {
    font-size: 2.25em;
}

.bodyProjectTitle {
    background-color: transparent;
    /* add styles prn */
}

p {
    width: 43%;
    text-align: justify;
    font-family: sans-serif;
    font-weight: lighter;
}

form {
    background-color: transparent;
    /* add styles prn */
}

input#MERGE0 {
    border: none;
    border-bottom: .05em dotted #1A170F;
}

::placeholder {
    color: #c8c4bd;
    font-size: x-small;
}

.subscribeText,
.subscribeBtn {
    margin-bottom: 5em;
}

.subscribeBtn {
    width: 11em;
    padding: .25em .75em;
    font-weight: bold;
    border-radius: .75em;
    background-color: transparent;
    border-style: solid;

    border-width: 0;
    border-right: 0.125em solid #50C2C7;
    border-left: 0.125em solid #50C2C7;
    box-shadow: .05em .05em #1A170F, .1em .1em .1em #50C2C7;
}

.subscribeBtn:after {
    content: '>>';
    opacity: 0;
    top: 0.875em;
    right: -1.25em;
    transition: .5s;
}

.subscribeBtn:hover {
    padding-right: 1.5em;
    padding-left: 0.5em;
}

.subscribeBtn:hover:after {
    opacity: 1;
    right: 0.625;
}

.submitBtnText {
    margin-right: .45em;
}

.row {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.column {
    background-color: transparent;
    /* add styles prn */
}

a {
    background-color: transparent;
    /* add styles prn */
}

img {
    width: 50%;
    height: auto;
}

footer {
    display: block;
    text-align: right;
    margin: 3.75em 1.15em;
}

.footer-link {
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.forwardSlash {
    font-size: xx-large;
}

.subpage {
    display: none;
}

.active {
    display: block;
}

/* COLORS  */
.toggleBtn,
h1,
h2,
.subscribeBtn,
.footer-link {
    color: #1A170F;
}

.toggleBtn:hover,
.charColor,
.footer-link:hover {
    color: #50C2C7;
}

/* CURSORS  */
.toggleBtn:hover,
.subscribeBtn:hover {
    cursor: pointer;
}

/* DISPLAYS  */
#credit-mentor-page:active,
#credit-mentee-page:active {
    display: block;
}

/* FONT FAMILIES */
h1,
h2,
.bodyProjectTitle,
.subscribeText,
.subscribeBtn,
.footer-link {
    font-family: Orbitron, sans-serif;
}

/* MARGINS */
body,
.grid-div,
.background-div,
section.title-description-links-credit {
    margin: 0;
}

.toggleBtn,
h2 {
    margin-left: 1.25em;
}

p,
form {
    margin-left: 3em;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
    body {
        font-size: 67%;
    }

    h1 {
        font-size: 4.25em;
    }
}