*,
*::before,
*::after {
    box-sizing: border-box;
}

i.toggleBtn.fa-dumpster {
    color: #fff;
    margin-top: 2.05em;
    margin-left: 2.05em;
}

.toggleBtn {
    --fa-beat-fade-scale: 1.25;
    --fa-animation-duration: 3.7s;
}

#map {
    position: fixed;
    width: 100vw;
    height: 50vh;
}

div.maplibregl-ctrl-attrib-inner,
.maplibregl-compact-show {
    display: none;
}

h1 {
    font-size: 7em;
    margin: 0 9%;
    margin-top: 1.5em;
    line-height: 1em;
}

.charColor {
    text-shadow: .05em .05em .05em #1A170F;
}

h2 {
    font-size: 2.25em;
}

p {
    width: 43%;
    text-align: justify;
    font-family: sans-serif;
    font-weight: lighter;
}

input#MERGE0 {
    border-bottom: .05em dotted #1A170F;
}

input {
    background-color: transparent;
}

::placeholder {
    color: #545454;
    font-size: x-small;
}

.subscribeText,
.subscribeBtn {
    margin-bottom: 5em;
}

.subscribeBtn {
    width: 11em;
    padding: .25em .75em;
    font-weight: bold;
    border-radius: .75em;
    border-style: solid;

    border-width: 0;
    border-top: 0.125em solid #1A170F;
    border-right: 0.125em solid #50C2C7;
    border-bottom: 0.125em solid #1A170F;
    border-left: 0.125em solid #50C2C7;
    box-shadow: .05em .05em #1A170F, .1em .1em .1em #50C2C7;
}

.subscribeBtn:after {
    content: '>>';
    opacity: 0;
    top: 0.875em;
    right: -1.25em;
    transition: .5s;
}

.subscribeBtn:hover {
    padding-right: 1.5em;
    padding-left: 0.5em;
}

.subscribeBtn:hover:after {
    opacity: 1;
    right: 0.625;
}

.submitBtnText {
    margin-right: .45em;
}

.survey-column {
    float: right;
    width: 33em;
    margin: -27em 0;
    padding: 1.05em;
    box-shadow: .15em .15em .15em .15em #1A170F;
}

.description-survey-row:after {
    content: "";
    display: table;
    clear: both;
}

input[type="radio"],
input[type="checkbox"] {
    accent-color: #1A170F;
}

#industry,
#survey-btn {
    color: #FFF;
    padding: .25em .65em;
    background-color: #1A170F;
    border-radius: .45em;
    box-shadow: 0 0 0 1px #50C2C7 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 0 #1A170F, 0 0 0 1px rgba(0, 0, 0, 0.4), 0 0px 8px 1px rgba(0, 0, 0, 0.5);

}

textarea {
    width: 47%;
    border: none;
    border-left: .015em solid #1A170F;
}

#comment,
#survey-btn {
    margin-top: .45em;
}

#industry:hover,
#survey-btn:hover {
    color: #1A170F;
    background-color: #50C2C7;
}

.gateway-row {
    display: flex;
    justify-content: center;
    margin: 3.65em -.7em -3.5em 0;
    background-color: #c8c4bd;
    padding: 1.25em 0 2em 0;
}

img {
    width: 87%;
    height: auto;
}

.gateways {
    font-size: 1.65em;
    text-shadow: .1em .0125em #FFF;
}

.gateways.construction:hover {
    color: #22E4AC;
}

.gateways.pilot:hover {
    color: #4ADEDE;
}

.gateways.solopreneur:hover {
    color: orangered;
}

footer {
    width: 101%;
    padding-right: 2.15em;
    display: block;
    text-align: right;
    margin-top: 3.75em;
    background-color: #FCF0CC;
}

.footer-link {
    text-decoration: none;
}

.forwardSlash {
    font-size: xx-large;
}

button#storysim-construction-btn,
button#storysim-pilot-btn,
button#storysim-solopreneur-btn,
button#credit-mentor-btn,
button#credit-mentee-btn {
    width: 5em;
    margin-bottom: 1.45em;
    border-top: none;
    border-right: 0.125em solid #50C2C7;
    border-bottom: none;
    border-left: 0.125em solid #50C2C7;
    border-radius: .75em;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2)
    }

    100% {
        transform: scale(1);
    }
}

.pulse {
    display: block;
    animation: pulse 2s infinite;
}

.subpage {
    display: none;
}

.active {
    display: block;
}

#credit-mentor-page {
    margin-top: 2.15em;
}

video {
    width: 37%;
    height: 25%;
    margin-bottom: 2.25em;
    border-radius: .45em;
}

.video-cw,
#credit-mentor-btn {
    float: left;
    margin-left: 2.45em;
}

.video-lmsw,
#credit-mentee-btn {
    float: right;
    margin-right: 2.45em;
}

a {
    color: #50C2C7;
    text-decoration: none;
    font-size: xx-small;
}

/* BACKGROUNDS */
body,
.grid-div,
.background-div,
section.title-description-links-credit,
.subscribeBtn,
.columns,
.gateways,
.footer-link,
button#storysim-construction-btn,
button#storysim-pilot-btn,
button#storysim-solopreneur-btn,
#credit-mentor-btn,
#credit-mentee-btn,
button#credit-mentor-btn,
button#credit-mentee-btn {
    background-color: transparent;
}

/* BORDERS  */
input#MERGE0,
#name,
#email,
#industry,
#survey-btn,
.gateways,
.footer-link {
    border: none;
}

/* COLORS  */
.toggleBtn,
h1,
h2,
.subscribeBtn,
.footer-link {
    color: #1A170F;
}

.toggleBtn:hover,
.charColor,
.footer-link:hover {
    color: #50C2C7;
}

/* CURSORS  */
.toggleBtn:hover,
.subscribeBtn:hover {
    cursor: pointer;
}

/* DISPLAYS  */
#construction:active,
#pilot:active,
#solopreneur:active,
#credit-mentor-page:active,
#credit-mentee-page:active {
    display: block;
}

/* FONT FAMILIES */
h1,
h2,
.bodyProjectTitle,
.subscribeText,
.subscribeBtn,
#label-name,
#label-email,
#label-industry,
span#comment,
#survey-btn,
.gateways,
.footer-link {
    font-family: Orbitron, sans-serif;
}

/* MARGINS */
body,
.grid-div,
.background-div,
section.title-description-links-credit {
    margin: 0;
}

.toggleBtn,
h2 {
    margin-left: 1.25em;
}

p,
form {
    margin-left: 3em;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 2850px) {
    h1 {
        margin-top: 3.5em;
    }
}

@media only screen and (max-width: 1064px) {

    video,
    button#credit-mentor-btn,
    button#credit-mentee-btn {
        display: none;
    }
}

@media only screen and (max-width: 1052px) {
    h1 {
        font-size: 6.25em;
    }

    .bodyProjectTitle {
        font-size: .97em;
    }
}

@media only screen and (max-width: 1028px) {
    .bodyProjectTitle {
        font-size: .95em;
    }
}

@media only screen and (max-width: 1012px) {
    h1 {
        font-size: 6.15em;
    }

    p {
        width: 47%;
    }
}

@media only screen and (max-width: 968px) {
    h1 {
        font-size: 5.75em;
    }
}

@media only screen and (max-width: 801px) {
    h1 {
        font-size: 4.75em;
    }

    p {
        width: 57%;
    }
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 67%;
    }

    h1 {
        font-size: 4.25em;
    }
}