.toggle-theme span.charColor {
  text-shadow: .065em 0 0 #1A170F;
}

.toggle-theme input::placeholder {
  color: #C8C4BD;
}

.toggle-theme,
.toggle-theme button.submitBtn {
  background-color: #1A170F;
}

/* COLORS  */
.toggle-theme h2,
.toggle-theme p,
.toggle-theme span.submitBtnText {
  color: #1A170F;
}

.toggle-theme i.toggleBtn.fa-dumpster,
.toggle-theme h1,
.toggle-theme h2,
.toggle-theme p,
.toggle-theme form,
.toggle-theme label.subscribeText,
.toggle-theme .submitBtnText,
span#thoughts,
.toggle-theme #credit-mentor-btn,
.toggle-theme #credit-mentee-btn {
  color: #FFF;
}