*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

.grid-div {
    background-color: #fff;
}

.background-div {
    background-color: #fff;
}

.toggleBtn {
    color: #1A170F;
    margin-top: 1.25em;
    --fa-beat-fade-scale: 1.25;
    --fa-animation-duration: 3.7s;
}

.toggleBtn:hover {
    background-color: transparent;
}

section.title-description-links-credit {
    background-color: #fff;
}

h1 {
    font-size: 9em;
    margin: 0 9%;
}

h2 {
    font-size: 2.25em;
}

.bodyProjectTitle {
    background-color: transparent;
}

p {
    width: 43%;
    text-align: justify;
    font-family: sans-serif;
    font-weight: lighter;
}

form {
    background-color: transparent;
}

.subscribeText,
.subscribeBtn {
    margin-bottom: 5em;
}

.subscribeBtn {
    font-weight: bold;
}

.row {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.column {
    background-color: transparent;
}

a {
    background-color: transparent;
}

img {
    width: 50%;
    height: auto;
}

footer {
    float: right;
    margin: 3.75em 1.15em;
}

.footer-link {
    text-decoration: none;
}

/* COLORS  */
.toggleBtn,
h1,
h2,
.subscribeBtn,
.footer-link {
    color: #1A170F;
}

.toggleBtn:hover,
.subscribeBtn:hover,
.footer-link:hover {
    color: #50C2C7;
}

/* FONT FAMILIES */
h1,
h2,
.bodyProjectTitle,
.subscribeText,
.subscribeBtn,
.footer-link {
    font-family: Orbitron, sans-serif;
}

/* MARGINS */
body,
.grid-div,
.background-div,
section.title-description-links-credit {
    margin: 0;
}

.toggleBtn,
h2 {
    margin-left: 1.25em;
}

p,
form {
    margin-left: 3em;
}